# Python junk
__pycache__/
*.py[cod]
*$py.class
.venv
env/
venv/
latest_run_id.txt
data/processed/

# Security (CRITICAL)
.env

# Docker junk
postgres_data/

# Mac junk
.DS_Store

# IDE junk
.vscode/
.idea/

# Artifacts & Temp files
*.png
*.jpg
mlruns/

# Kubernetes & Local Binaries
minikube-linux-amd64
kubectl