apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: churn-mlflow:v1
        imagePullPolicy: Never
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: postgres-user
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: postgres-password
        # We construct the connection string dynamically using $(VAR) syntax
        command:
          - "sh"
          - "-c"
          - "mlflow server --backend-store-uri postgresql://$(DB_USER):$(DB_PASS)@postgres:5432/mlflow_db --host 0.0.0.0 --port 5000"
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
spec:
  type: NodePort
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30001