apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow
  template:
    metadata:
      labels:
        app: airflow
    spec:

      # --- NEW: Permission Fixer (Runs as Root) ---
      initContainers:
      - name: fix-permissions
        image: busybox
        command: ["sh", "-c", "chown -R 50000:0 /mlartifacts && chmod -R 777 /mlartifacts"]
        volumeMounts:
        - name: artifacts-volume
          mountPath: /mlartifacts
      # --------------------------------------------

      # --- 1. Init Container (Runs Migration First) ---
      initContainers:
      - name: airflow-migration
        image: churn-airflow:v1
        imagePullPolicy: Never
        env:
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: airflow-db-conn
        command: ["bash", "-c", "airflow db migrate && airflow users create --username admin --password admin --firstname Peter --lastname Pan --role Admin --email admin@example.com || true"]

      # --- 2. Main Container (Starts Webserver) ---
      containers:
      - name: airflow
        image: churn-airflow:v1
        imagePullPolicy: Never
        env:
        - name: AIRFLOW__DATABASE__SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: airflow-db-conn
        - name: AIRFLOW__CORE__EXECUTOR
          value: "LocalExecutor"
        - name: AIRFLOW__CORE__LOAD_EXAMPLES
          value: "False"
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow:5000"
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: artifacts-volume
          mountPath: /mlartifacts
        
        # Liveness Probe: Checks if the webserver port is open
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 40
          periodSeconds: 20
          
        command: ["bash", "-c", "airflow webserver & airflow scheduler"]
        
      volumes:
      - name: artifacts-volume
        persistentVolumeClaim:
          claimName: model-artifacts-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: airflow
spec:
  type: NodePort
  selector:
    app: airflow
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30002