apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: churn-api:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
        # Point to the K8s Service name for MLflow
        - name: MLFLOW_TRACKING_URI
          value: "http://mlflow:5000"
        volumeMounts:
        - name: artifacts-volume
          mountPath: /mlartifacts # Must match local code
          readOnly: true
      volumes:
      - name: artifacts-volume
        persistentVolumeClaim:
          claimName: model-artifacts-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  type: NodePort
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30003